
@{
    ViewBag.Title = "Transaction Data Upload";
}

<div class="jumbotron">
    <h3>Transaction Data Upload</h3>
    <p class="alert">@TempData["ErrorMsg"]</p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadFile" />
        <input type="submit" value="Upload" />
    }
</div>